/* You can add global styles to this file, and also import other style files */
body
{
    background-color: antiquewhite;
    height: 350px;
    width: 300px;
    box-shadow: 20px 20px 20px black;
}
